<html>  
    <head>
          <% include shared/_head.ejs %>
    </head>
    <body>

        <% include shared/_bubbles.ejs %>
        <iframe width="1024" height="768" src="http://mitutee.tech:2244">
    </body>
</html>